html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {

    /*background-color: #222;*/
    margin-bottom: 100px;
}
im1{
    border-image: url(../Image.Jpg.jpg)
}
