html {
    font-size: 13px;
}

@media (min-width: 768px) {
    html {
        font-size: 12px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-color:black;


}


.navbar {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
    z-index: 100 !important;
}


.nav-item {
    padding: .5rem;
}

.nav-link {
    color: #5b5555 !important;
}

    .nav-link.active,
    .nav-link:hover {
        color: red !important;
    }

.dropbtn:hover {
    color: red !important;
}

.dropdown-content > a:hover {
    color: red !important;
}




.logout {
    font-weight: 400;
    margin-top: auto
}

.top-bar {
    background: #7aaec4;
    height: 2.8rem;
    padding: .5rem 0;
}

.carousel-inner {
    max-height: 47rem !important;
    margin: 70px 0px;
}

.fixed-background {
    position: relative;
    width: 100%;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
}

.fixed {
    z-index: -999 !important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    will-change: transform;
}


.fixed-background {
    padding: 20rem 0;
    margin-bottom: -300px;
}

.link {
    cursor: pointer;
    transition: all 0.5s;
}

.link:hover {
        color: rgb(236, 83, 83);
        padding-left: 5px;
        transition: all 0.5s;
}

.videoClass {
    padding-left: 5px;
    margin: -400px 0px 0px;
    
   
}

.MyFooter {
    max-height: 30rem !important;
    background-color: black;
}

    .MyFooter p {
        margin: 0;
        color: teal;
        font-weight: 700;
    }

    .MyFooter h5 {
        font-weight: 900;
        color: white;
    }

.TrainerContainer {
    background-color: black;
    margin: 90px 0px 0px;
}


.MyProducts {
    background-color: black;
    margin: 90px 0px 0px;
}

.MyLogin {
    padding: 10rem 0;
}

.MyRegister {
    padding: 10rem 0;
}

.TrainerDetails {
    padding: 2.2rem 0;
    margin: 70px 0px 70px;
}

.GymAdd {
    padding: 4rem 0;
}

.AdmnIndex {
    padding: 5.5rem 0;
}

.ManageAdmin {
    padding: 3rem 0;
}

.AllUsers {
    padding: 6.6rem 0;
    font-weight: 700;
}

.ApplyUsers {
    padding: 14.4rem 0;
    font-weight: 700;
}

.DetailsProducts {
    padding: 3rem 0;
    margin: 45px 0px;
}

.MineProducts {
    background-color: black; 
    margin-bottom: auto;
    margin: 100px 50px 0px;
}

.MineNoProducts {
    margin: 70px 0px 350px;
}

.productsForMe {
    background-color: black;
    padding-bottom: 100px;
    
}

.MineNoProducts h3 {
    color: white;
    position: relative;
    bottom: -200px;
}

.AllAppointments {
    margin: 150px 0px 220px;
}

.Login {
    padding: 6rem 0;
}

.GymDetails {
    padding: 2rem 0;
}

.Appointments {
    padding: 3rem 0;
    margin: 60px 0px 100px;
}

.TrainerView {
    background-color: black;
    margin: 73px 0px 0px;
    padding-bottom: 100px
}

.AllUsersEmpty {
    padding: 14.4rem 0;
    font-weight: 700;
}

.AllGyms {
    margin: 100px 50px 0px;
    background-color:black;
}

.GymDetails {
    margin: 45px 0px;
}

.App {
    margin: 70px 0px 100px;
}

.MineNoTrainers {
    color: white;
    position: relative;
    bottom: -200px;
}

.AllMyTrainers {
    background-color: black;
    padding-bottom: 100px;
    
}

.MineNoTrainers {
    margin: 70px 0px 350px;
}

    .MineNoTrainers h3 {
        color: white;
        position: relative;
    }

.AllUsers {
    padding: 11rem 0;
    font-weight: 700;
    background-color: white;
}

.EditProducts {
    padding: 5rem 0;
    font-weight: 600;
}

.AddProducts {
    padding: 5rem 0;
    font-weight: 600;
}

.AddTrainer {
    padding: 5rem 0;
}

.EditTrainers {
    padding: 10rem 0;
}

.GymEdit {
    padding: 5rem;
}

.Error404 {
    padding: 12rem 0;
}
.Error401 {
    padding: 12rem 0;
}
.SearchTable {
    padding: 2rem 0;
    background-color: black;
    margin-right: 0;
}
.searchNoTrainers {
    padding: 12rem 0;
}
.chat {
    padding: 13rem 0;
}
.Error {
    padding: 12rem 0;
}
.color{
    background-color: black;
}







