@using Microsoft.AspNetCore.Identity
@using MyGymWeb.Data.Models;
@using MyGymWeb.Services.Admin
@using MyGymWeb.Infrastructure.Extensions
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService users
@using Microsoft.AspNetCore.Http;
@inject UserManager<ApplicationUser> userManager;
@inject IHttpContextAccessor _context;


@{
    var user = await userManager.GetUserAsync(_context?.HttpContext?.User);
}


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        @if (User.IsInRole("Administrator"))
        {
            <li>
                <div class="dropdown">
                    <h5 class="dropbtn">
                        Admin
                        <i class="fa fa-caret-down"></i>
                    </h5>
                    <div class="dropdown-content">
                        <a asp-area="Admin" asp-controller="Product" asp-action="ManageProduct"><i>Products</i></a>
                        <a asp-area="Admin" asp-controller="Trainer" asp-action="ManageTrainer"><i>Trainers</i></a>
                        <a asp-area="Admin" asp-controller="Gym" asp-action="ManageGym"><i>Gyms</i></a>
                        <a asp-area="Admin" asp-controller="User" asp-action="All"><i>Users</i></a>
                        <a asp-area="Admin" asp-controller="Apply" asp-action="All"><i>Applies</i></a>
                    </div>
                </div>
            </li>
        }
      
        <li class="nav-item">

            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i>Hello @User.Identity?.Name!</i></a>

        </li>
        if (!User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark"><i>Amount: <e class="text-warning">@user.Amount</e> $</i></a>
            </li>
        }        
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark"><i>Logout</i></button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
        </li>
    }
</ul>

