@using MyGymWeb.Services.Models.Statistics
@model StatisticServiceModel

@{
    
    
    ViewData["Title"] = "Home Page";

}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<style>
    .fancy-paragraph {
        font-size: 18px; 
        font-weight: bold; 
        font-style: italic; 
        color: wheat
        
    }
    .count1{
        font-size: 40px;
        font-weight: bold;
    }

    .count2 {
        font-size: 35px;
    }
</style>
<div class="wrapper">
    <div id="carousel-slider" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3500">
        <ol class="carousel-indicators">
            <li data-bs-target="#carousel-slider" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carousel-slider" data-bs-slide-to="1"></li>
            <li data-bs-target="#carousel-slider" data-bs-slide-to="2"></li>
            
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/Gym2.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/Gym5.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/Gym-HD-Wallpaper.jpg" alt="Third slide">
            </div>           
        </div>

    </div>
</div>

<div class="col-12 text-center mt-5">
    <div class="mt-4 p-5 counts">
        <div class="row">
            <h2 class="col-md-6 text-center count2" style="color:white;">Trainers</h2>
            <h2 class="col-md-6 text-center count2" style="color:white;">Products</h2>
        </div>
        <div class="row">
            <h2 class="col-md-6 text-center count1" style="color:red;">@Model.TrainerCount</h2>
            <h2 class="col-md-6 text-center count1" style="color:red;">@Model.ProductCount</h2>
        </div>
    </div>

    <h1 class="text-white pt-4">Build with Ease</h1>
    <div class="border-top border-danger w-25 mx-auto my-3"></div>
    <p class="lead text-white">For all of the Championes in this world!</p>
</div>

<div class="container">
    <div class="row my-5">
        <div class="col-md-4 my-4">
            <img class="w-100" src="~/images/Yogateachertraining.jpg" alt="image" />
            <h4 class="my-4 text-white">"In-Person Classes"</h4>
            <p style="color:wheat">Teaching of pop up style yoga classes from Goddess and Gods Yoga, to a powerful vinyasa flow called Powerhouse Flow, along with yin yoga, ad blindfold yoga.</p>
            <a asp-controller="Trainer" asp-action="All" class="btn btn-outline-light btn-md">Our Team</a>
        </div>
        <div class="col-md-4 my-4">
            <img class="w-100" src="~/images/Gym3.jpg" alt="image" />
            <h4 class="my-4 text-white">"Switch Beast Mode"</h4>
            <p style="color:wheat">Bodybuilding, a regimen of exercises designed to enhance the human body's muscular development and promote general health and fitness.</p>
            <a asp-controller="Trainer" asp-action="All" class="btn btn-outline-light btn-md">Our Team</a>
        </div>
        <div class="col-md-4 my-4">
            <img class="w-100" src="~/images/BoxingTraining.jpg" alt="" />
            <h4 class="my-4 text-white">"Small group classes."</h4>
            <p style="color:wheat">Small group training is a unique way to help hoan your boxing skills and overall conditioning in a more personalized setting.Mitt work will help teach the proper boxing fundamentals.</p>
            <a asp-controller="Trainer" asp-action="All" class="btn btn-outline-light btn-md">Our Team</a>
        </div>
    </div>
</div>

<div class="col-12 text-center mt-5">
    <h1 class="text-white pt-4">Taste your limits</h1>
    <div class="border-top border-warning w-25 mx-auto my-3"></div>
    <p class="lead text-white">Find Yourself!</p>
</div>


<div class="fixed-background">
    <div class="videoClass">
        <div class="row my-5">
            <div class="col-12 col-md-6 my-4">
                <div class="pic1">
                    <img class="img-fluid" src="~/images/yogaimage1.jpg" alt="Image 1">
                </div>
            </div>
            <div class="col-12 col-md-6 my-4">
                <div class="pic2">
                    <img class="img-fluid" src="~/images/boxerimage.jpg" alt="Image 2">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-12 text-center mt-5">
    <h1 class="text-white pt-4">Awaiting you at SPA</h1>
    <div class="border-top border-primary w-25 mx-auto my-3"></div>
    <p class="lead text-white">Gently eliminate the stresses of the day, inviting wellness and healing into your life.</p>
</div>

<div class="fixed-background">
    <div class="videoClass">
        <div class="row my-5">
            <div class="col-md-6 my-4">
                <div class="spa-pool-intro text-center p-4">
                    <h2 class="text-uppercase text-danger">Discover Ultimate Relaxation</h2>
                    <p class="fancy-paragraph">Welcome to a realm where tranquility converges with luxury. Our spa pools unveil a haven of serenity and rejuvenation. Immerse yourself in the soothing embrace of warm, bubbling waters, meticulously designed to dissolve the stresses of everyday life.</p>
                </div>
                <div class="pic1">
                    <img class="img-fluid" style="width:100vh; height:60vh;" src="~/images/Indoor-Spa-wide-1440x780.jpg">
                </div>
            </div>
            
            <div class="col-md-6 my-4">
                <div class="spa-intro text-center p-4">
                    <h2 class="text-uppercase text-danger">Embark on Serenity</h2>
                    <p class="fancy-paragraph">Surrender to the caress of blissful warmth at our opulent spa sauna. Step into a realm of tranquility, where soothing embraces melt away the strains of daily life. Immerse yourself in the rejuvenating experience of our sanctuary, a harmonious haven for body and soul.</p>
                </div>
                <div class="pic2">
                    <img class="img-fluid" style="width:100vh; height:60vh;" src="https://www.hotellavendel.at/files/hotellavendel-theme/img/image_teaser/wellness/finnische_sauna_hotel_lavendel.jpg">
                </div>
            </div>


            <div class="col-md-6 my-4">
                <div class="spa-sauna-intro text-center p-4">
                    <h2 class="text-uppercase text-primary">Embark on Tranquility</h2>
                    <p class="fancy-paragraph">Step into the extraordinary world of our spa sauna, where tranquility intertwines with opulence. Allow the gentle warmth to embrace you, dissolving the burdens of daily life. Immerse yourself in an oasis designed to rejuvenate, a sanctuary for your body and soul.</p>
                </div>
                <div class="pic1">
                    <img class="img-fluid" style="width:100vh; height:60vh;" src="https://i.pinimg.com/1200x/56/d5/12/56d51202b4acfa28bb7510dbde0099a5.jpg">
                </div>
            </div>
           
            <div class="col-md-6 my-4">
                <div class="turkish-bath-intro text-center p-4">
                    <h2 class="text-uppercase text-primary">Uncover Opulent Bliss</h2>
                    <p class="fancy-paragraph">Experience the allure of our Turkish bath, where ancient tradition meets modern opulence. Immerse yourself in soothing steam, letting the timeless ritual purify body and spirit. Indulge in lavish luxury, as our Turkish bath invites you into a realm of unmatched tranquility.</p>
                  
                </div>
                <div class="pic2">
                    <img class="img-fluid" style="width:100vh; height:60vh;" src="https://i.pinimg.com/736x/ec/da/50/ecda50ff2b73f8251941bf752ca570d3.jpg">
                </div>
            </div>
        </div>
    </div>
</div>




 



















