@{
    ViewData["Title"] = "Home Page";

}


<div id="carousel" class="carousel slide" data-bs-ride="carousel" data-interval="100">

    <div class="carousel-inner">

        <div class="carousel-item-active">
            <img class="w-100"
                 src="../images/Gym2.jpg" alt="Logo">
           
        </div>
    </div>
    <div class="col-12 text-center mt-5">
        <h1 class="text-dark pt-4">Build with Ease</h1>
        <div class="border-top border-primary w-25 mx-auto my-3"></div>
        <p class="lead">For all of the Championes in this world!</p>
    </div>

    <div class="container">
        <div class="row my-5">
            <div class="col-md-4 my-4">
                <img src="./images/Yogateachertraining.jpg" class="w-100" alt="" />
                <h4 class="my-4">"In-Person Classes"</h4>
                <p>Teaching of pop up style yoga classes from Goddess and Gods Yoga, to a powerful vinyasa flow called Powerhouse Flow, along with yin yoga, ad blindfold yoga.</p>
                <a href="#" class="btn btn-outline-dark btn-md">Our Team</a>
            </div>
            <div class="col-md-4 my-4">
                <img src="./images/Gym3.jpg" class="w-100" alt="" />
                <h4 class="my-4">"Switch Beast Mode"</h4>
                <p>Bodybuilding, a regimen of exercises designed to enhance the human body's muscular development and promote general health and fitness.</p>
                <a href="#" class="btn btn-outline-dark btn-md">Our Team</a>
            </div>
            <div class="col-md-4 my-4">
                <img src="./images/BoxingTraining.jpg" class="w-100" alt="" />
                <h4 class="my-4">"Small group classes."</h4>
                <p>Small group training is a unique way to help hoan your boxing skills and overall conditioning in a more personalized setting.Mitt work will help teach the proper boxing fundamentals.</p>
                <a href="#" class="btn btn-outline-dark btn-md">Our Team</a>
            </div>
        </div>
    </div>
   
  
</div>

</div>










