@model IEnumerable<UserServiceModel>

@{
    ViewBag.Title = "All Users"; 


}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="AllUsers">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><label>Email</label></th>
                <th><label>Full Name</label></th>
                <th><label>PhoneNumber</label></th>
                <th><label>User Is Trainer</label></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Where(x => x.Email != null))
            {
                <tr>
                    <td><label>@user.Email</label></td>
                    <td><label>@user.FullName</label></td>
                    <td><label>@user.PhoneNumber</label></td>
                    <td>
                        @if (string.IsNullOrEmpty(user.PhoneNumber) == false)
                        {
                            <label>✔</label>
                        }
                        else
                        {
                            <label class="text-center">❌</label>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
