@model IEnumerable<UserServiceModel>

@{
    ViewBag.Title = "All Users";


}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="AllUsers" style="background-color: black">
    <div class="container">
        <table class="table table-striped" style="color: white">
            <thead>
                <tr>
                    <th><label class="text-white">Email</label></th>
                    <th><label class="text-white">Full Name</label></th>
                    <th><label class="text-white">Phone Number</label></th>
                    <th><label class="text-white">State</label></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Where(x => x.Email != null))
                {
                    <tr>
                        <td><label class="text-white">@user.Email</label></td>
                        <td><label class="text-white">@user.FullName</label></td>
                        <td><label class="text-white">@user.PhoneNumber</label></td>
                        <td>
                            @if (!string.IsNullOrEmpty(user.PhoneNumber))
                            {
                                <label class="text-white">Trainer</label>
                            }
                            else if(user.Email == "Admin@admin.bg")
                            {
                                <label class="text-danger">Admin</label>
                            }                        
                            else
                            {
                                <label class="text-center text-white">User</label>
                            }
                        </td>                   
                    </tr>
                }
            </tbody>
        </table>
    </div>   
</div>
